<div id="contact" class="col-12 h-100">
    <div class="row">
        <div class="col-md-6 col-12">
            <form #form="ngForm" class="form-horizontal" (ngSubmit)="sendEmail(form)">
                <div class="controls">
                    <label class="control-label" for="name">{{'label.contact.name' | translate}} (*)</label>
                    <input id="name" name="name" type="text" placeholder="{{'label.contact.name' | translate}}"
                        class="form-control" [(ngModel)]="formData.name" required>

                    <label class="control-label" for="email">{{'label.contact.email' | translate}} (*)</label>
                    <input id="email" name="email" type="email" placeholder="{{'label.contact.email' | translate}}"
                        class="form-control" [(ngModel)]="formData.email" required>

                    <label class="control-label" for="company">{{'label.contact.company' | translate}}</label>
                    <input id="company" name="company" type="text" placeholder="{{'label.contact.company' | translate}}"
                        class="form-control" [(ngModel)]="formData.company">

                    <label class="control-label" for="message">{{'label.contact.message' | translate}} (*)</label>
                    <textarea id="message" name="message" placeholder="{{'label.contact.message' | translate}}"
                        class="form-control" rows="10" [(ngModel)]="formData.message" required></textarea>

                    <button type="submit" [disabled]="form.invalid || showProgressBar"
                        class="col-md-12 btn btn-primary btn-lg mb-4">{{'label.contact.button.send' |
                        translate}}</button>
                    <div *ngIf="showProgressBar" class="progress mt-3">
                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
                            [style.width]="progress + '%'" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div *ngIf="successAlertVisible" class="alert alert-success alert-dismissible fade show" role="alert">
    {{'label.contact.success' | translate}}
</div>

<div *ngIf="errorAlertVisible" class="alert alert-danger alert-dismissible fade show" role="alert">
    {{'label.contact.error' | translate}}
</div>