<div class="row" *ngIf="personalData">
    <div class="col-12">
        <p-table [value]="personalData" [rowHover]="true">
        
            <ng-template pTemplate="header">
                <tr>
                    <th class="field-header">{{'label.field' | translate}}</th>
                    <th class="value-header">{{'label.value' | translate}}</th>
                </tr>
            </ng-template>
            
            <ng-template pTemplate="body" let-pd>
                <tr class="p-selectable-row">
                    <td>
                        <span class="font-weight-bold p-column-title">{{'label.field' | translate}}</span>
                        <span class="column-display">{{pd.columnDisplay | translate}}</span>
                    </td>
                    <td>
                        <span class="font-weight-bold p-column-title">{{'label.value' | translate}}</span>
                        <span class="column-value">{{pd.columnValue | translate}}</span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
