<div id="projects" class="col-12 h-100">
    <div *ngIf="projects && projects.length == 0">
        {{'label.no.projects' | translate}}
    </div>

    <ng-container *ngIf="projects && projects.length > 0">
        <div class="row">

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 mb-5"
                *ngFor="let project of projects | paginate: {itemsPerPage: itemsPerPage, currentPage: page}; let i = index">

                <div class="card h-100">
                    <img class="card-image-top w-100 img-fluid" [src]="project.thumbnail" />
                    <div class="card-body">
                        <h3 class="card-title">{{project.title}}</h3>
                        <p class="card-text">{{project.resume | translate}}</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-block btn-primary" role="button" [href]="project.url"
                            target="_blank">{{'label.projects.go.url' | translate}}</a>
                    </div>
                </div>
                <ng-container *ngIf="(i + 1) % 3 === 0">
                    <div class="w-100 d-md-none d-lg-none d-xl-none"></div>
                </ng-container>
            </div>

        </div>

        <div class="row" *ngIf="projects.length > itemsPerPage">
            <div class="col-12 text-center mb-5">
                <div class="pagination-footer">
                    <pagination-controls [nextLabel]="'label.next' | translate"
                        [previousLabel]="'label.previous' | translate" (pageChange)="page = $event">
                    </pagination-controls>
                </div>
            </div>
        </div>

    </ng-container>

</div>
