html,
body {
    overflow-x: hidden
}

html body .content {
    padding: 2% !important;
}

.container-fluid {
    overflow-x: hidden;
}

.panel-left {
    overflow-y: auto;
}

#sidebar {
    background: #ba627b;
    min-height: 100%;
    height: 100%;
    z-index: 1;
}

.detail-title{
    font-size: 30px;
    color: white;
    font-family: math;
}

@media (max-width: 767px) {

    .content {
        overflow: hidden;
    }

}

@media (min-width: 768px) {

    .content {
        height: 100%;
        overflow: auto;
    }

    .panel-left {
        overflow: hidden;
    }

}
