#sidebar {
    background: #1E2749;
    z-index: 1;
    padding-top: 1rem;
    color: #FFFFFF;
}

.name {
    font-size: 29px;
    font-family: math;
}

.icon-mobile {
    font-size: 30px;
}

@media (max-width: 576px) {
    .profile {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 576px) and (orientation: portrait) {
    .profile {
        width: 100px;
        height: 100px;
        padding-bottom: 10px;
    }
}

@media (min-width: 576px) and (orientation: landscape) {
    .profile {
        width: 155px;
        height: 155px;
    }
}