<div id="sidebar" class="pt-3 h-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-2 text-center">
                <img class="profile img-fluid rounded-circle" [src]="img_profile">
            </div>
            <ng-container *ngIf="resolutionService.size !== ResolutionConstants.MOBILE">
                <div class="col-md-12 col-10 text-center mt-1 mb-1">
                    <span class="name text-light">{{name}}</span>
                </div>
            </ng-container>
            <ng-container *ngIf="resolutionService.size === ResolutionConstants.MOBILE">
                <div class="col-8 text-left pt-2">
                    <span class="name text-light">{{name}}</span>
                </div>
                <div class="col-2 text-center icon-mobile">
                    <i class="text-light fa fa-bars" aria-hidden="true" (click)="openMenu()"></i>
                </div>
            </ng-container>
        </div>
    </div>
    <app-menu *ngIf="resolutionService.size !== ResolutionConstants.MOBILE"></app-menu>
</div>