#sidebar {
    background: #000;
    height: 100vh;
    z-index: 1;
}

.name {
    font-size: 20px;
}

.icon-mobile {
    font-size: 30px;
}

@media (max-width: 576px) {
    .profile {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 576px) and (orientation: portrait) {
    .profile {
        width: 140px;
        height: 140px;
    }
}

@media (min-width: 576px) and (orientation: landscape) {
    .profile {
        width: 55px;
        height: 55px;
    }
}