<div id="skills" class="row">
    <div class="col-12">
        <app-tabs class="text-center">
            <app-tab-item *ngFor="let group of skills | keyvalue" [title]="'label.skills.' + group.key | translate">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-4"
                        *ngFor="let skill of paginatedSkills(group.key)">
                        <div class="card">
                            <img class="card-img-top img-fluid" [src]="skill.thumbnail" alt="{{skill.name}}">
                            <div class="card-body">
                                <h3 class="card-title">{{skill.name}}</h3>
                                <p class="card-text">{{skill.years}} {{'label.skills.years.experience' | translate}}</p>
                                <label class="level-label">{{'label.skills.level' | translate}} </label>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar"
                                        [style.width.%]="skill.level * 10" aria-valuemin="0" aria-valuemax="100">
                                        {{skill.level}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination-container" *ngIf="!isSinglePage(group.key)">
                    <button class="pagination-button mr-2" (click)="prevPage(group.key)"
                        [disabled]="isFirstPage(group.key)">{{'label.previous' | translate}}</button>
                    <button class="pagination-button" (click)="nextPage(group.key)"
                        [disabled]="isLastPage(group.key)">{{'label.next' | translate}}</button>
                </div>
            </app-tab-item>
        </app-tabs>
    </div>
</div>