<div class="row no-gutters">
    <div class="col-12 text-center">
      <ul class="nav flex-column">
        <li class="nav-item border-top item-menu" routerLinkActive="active" (click)="onClickItemMenu()">
          <a class="nav-link" [ngClass]="{'border-menu': showBorder}" [routerLink]="['home']">{{'label.menu.home' | translate}}</a>
        </li>
        <li class="nav-item border-top item-menu" routerLinkActive="active" (click)="onClickItemMenu()">
          <a class="nav-link" [ngClass]="{'border-menu': showBorder}" [routerLink]="['information']">{{'label.menu.information' | translate}}</a>
        </li>
        <li *ngIf="showSkills" class="nav-item border-top item-menu" routerLinkActive="active" (click)="onClickItemMenu()">
          <a class="nav-link" [ngClass]="{'border-menu': showBorder}" [routerLink]="['skills']">{{'label.menu.skills' | translate}}</a>
        </li>
        <li *ngIf="showProjects" class="nav-item border-top item-menu" routerLinkActive="active" (click)="onClickItemMenu()">
          <a class="nav-link" [ngClass]="{'border-menu': showBorder}" [routerLink]="['projects']">{{'label.menu.projects' | translate}}</a>
        </li>
        <li *ngIf="showContact" class="nav-item border-top item-menu" routerLinkActive="active" (click)="onClickItemMenu()">
          <a class="nav-link" [ngClass]="{'border-menu': showBorder}" [routerLink]="['contact']">{{'label.menu.contact' | translate}}</a>
        </li>
        <li class="nav-item mt-2 mb-2" (click)="downloadCV()">
          <a class="btn btn-block border-0 btn-dark text-light">{{'label.menu.download.cv' | translate}}</a>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="row no-gutters justify-content-center">
    <div class="social-block col-2 mb-md-2" *ngFor="let sn of socialNetworks">
      <a class="btn btn-block rounded-0 btn-social btn-{{sn.icon}}" href="{{sn.link}}" target="_blank">
        <span [title]="sn.name" class="fa fa-{{sn.icon}}"></span>
      </a>
    </div>
  </div>