.custom-detail {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: -webkit-fill-available;
    background-color: #1E2749;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

i.pi.pi-times {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: white;
    font-size: 25px;
}
